<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
</head>
<body>
    <% for(let i = 0; i < results.length; i++){ %>
        <p><%=results[i].c_user%>: <%=results[i].c_tictactoe%>   </p>
        <% } %>
    Click here to go back to <a href="/">home.</a>
</body>
</html>