<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <p>
        Uh oh! The coordinates you entered unfortunately aren't in the USA. Try again?
        
    </p>
</body>
</html>