<!DOCTYPE html>
<html>
<head>
  <title>Query String</title>
</head>
<body>

  <p>
    The username was included in this request: <%= has_user %>
    The password was included in this request: <%= has_pass %>
  </p>

</body>
</html>