<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="query_format_post">
        <label for="id_uname">Tell me your username</label>
        <input id="id_uname" name="f_username" type="text"><br>

        <label for="id_pass">Tell me your password</label>
        <input id="id_pass" name="f_password" type="text"> <span id='pwerr'></span> <br>

        <input type="submit">
    </form>
</body>
</html>