<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="updated">
        <label for="char_name">What character would you like to update?</label>
        <input id="char_name" name="char_name" type="text" value="Archibald"><br>
 
 
        <label for="char_aspect">What aspect would you like to update?</label>
        <input id="char_aspect" name="char_aspect" type="text" value="strength"> <br>
 
        <label for="char_update">What would you like to update it to?</label>
        <input id="char_update" name="char_update" type="text" value="7"> <br>
        <input type="submit">
    </form>
</body>
</html>