<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="temp" method="POST">
        <label for="x_coord">Tell me your x coordinate</label>
        <input id="x_coord" name="coordx" type="text"><br>
        <label for="y_coord">Tell me your y coordinate</label>
        <input id="y_coord" name="coordy" type="text"><br>
        <input type="submit">
    </form>
</body>
</html>