<!DOCTYPE html>
<html>
<head>
  <title>Score!</title>
  <style>
    body{
        background-color:lightsteelblue
    }
  </style>
</head>
<body>
  <h1>Thank you for submitting!</h1>

  <p>
    My name is {{name}} and I am {{age}} years old. If I was president, I would do all kinds of {{adj_1}} things.
    <br>
    I would make everyone eat {{t1}} {{t2}} {{t3}} pizza for dinner every day.
    <br>
    I would live in the statue of {{noun1}} and build a {{verb1}} pool.
    <br>
    <img src={{image}}>
  </p>

</body>
</html>