<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forms</title>
</head>
<body>

  <form action="madlibs_return" method="POST">
    <h3>What is your name?</h3>
    <input name="f_name" type="text">
    <h3>How old are you?</h3>
    <input name="f_age" type="text">
    <h3>Choose an adjective</h3>
    <p>crazy</p>
    <input type="radio" name="adj_1" value="crazy">
    <p>weird</p>
    <input type="radio" name="adj_1" value="weird">
    <p>funky</p>
    <input type="radio" name="adj_1" value="funky">
    <br>
    <h3>Which are your favorite pizza toppings?</h3>
    <p>pepperoni</p>
    <input type="checkbox" name="topping_1" value="pepperoni">
    <p>pinapple</p>
    <input type="checkbox" name="topping_2" value="pineapple">
    <p>bell pepper</p>
    <input type="checkbox" name="topping_3" value="bell pepper">
    <h3>What are your favorite things? (noun, verb)</h3>
    <input type="text" name="n1">
    <input type="text" name="v1">
    <h3>Which of these is your favorite animal?</h3>
    <p>porcupine</p>
    <input type="radio" name="img_1" value="porcupine">
    <p>cat</p>
    <input type="radio" name="img_1" value="cat">
    <p>bunny</p>
    <input type="radio" name="img_1" value="bunny">
    <input type="submit">
  </form>

</body>
</html>