<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forms</title>
</head>
<body>

  <form action="flask_5_thanks">
    <h1>What is your favorite color?</h1>
    <p>Purple</p>
    <input type="checkbox" name="check_01" value="Purple">
    <p>Blue</p>
    <input type="checkbox" name="check_02" value="Blue">
    <p>Orange</p>
    <input type="checkbox" name="check_03" value="Orange">
    <br>
    <h1>Are you lying?</h1>
    <p>Yes</p>
    <input type="checkbox" name="truth_01" value="Yes">
    <p>No</p>
    <input type="checkbox" name="truth_02" value="No">
    <input type="submit"> 
  </form>

</body>
</html>