<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        If this number was the temperature outside, it would be <%= number %> degrees Fahrenheit
        <br>
        This number in kelvin is: <%= kelvin %>
        <br>
        Your number is: <%= even %>
      </p>
</body>
</html>